@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i");
body {
  background: #016FB9;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #FAFAFA;
  margin: 5;
  padding: 0; }

.mainTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-top: 100px;
  letter-spacing: .2px; }

.addressInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  width: 100%;
  margin-top: 40px; }
  .addressInput input {
    padding: 10px 10px;
    border: none;
    border-radius: 2px;
    outline: none;
    width: 300px;
    background: #e8e8e8;
    -webkit-box-shadow: 1px 1px 2px #333;
            box-shadow: 1px 1px 2px #333; }
  .addressInput button {
    padding: 10px 18px;
    border-radius: 2px;
    margin-left: 4px;
    border: none;
    width: 180px;
    background: #0cb377;
    color: #FFF;
    -webkit-box-shadow: 1px 1px 4px #333;
            box-shadow: 1px 1px 4px #333; }

.radio-button-section {
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.homeButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  margin-top: 20px; }
  .homeButton button {
    padding: 10px 32px;
    border-radius: 2px;
    margin-left: 4px;
    border: none;
    background: #0cb377;
    color: #FFF;
    -webkit-box-shadow: 1px 1px 4px #333;
            box-shadow: 1px 1px 4px #333; }

.tokenInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  color: #797979;
  margin-top: 100px; }
  .tokenInfo h4 {
    color: #FFF;
    font-size: 25px;}
  .tokenInfo .tokenInfoError {
    min-height: 320px;
    min-width: 320px;
    background: #FFF;
    -webkit-box-shadow: 1px 1px 4px #333;
            box-shadow: 1px 1px 4px #333;
    border-radius: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative; }
    .tokenInfo .tokenInfoError p {
      width: 70%;
      text-align: center; }
    .tokenInfo .tokenInfoError button {
      padding: 10px 22px;
      border-radius: 2px;
      margin-left: 4px;
      border: none;
      background: #EC4E20;
      color: #FFF;
      -webkit-box-shadow: 1px 1px 4px #333;
              box-shadow: 1px 1px 4px #333;
      margin-top: 20px; }

.loading {
  padding-top:100px;
  min-height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .loading .loadingIcon {
    max-height: 50vh;
    -webkit-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
            transform: rotate(20deg);
    -webkit-animation: rotateLoading 1.5s ease-in-out infinite;
            animation: rotateLoading 1.5s ease-in-out infinite; }
@-webkit-keyframes rotateLoading {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@keyframes rotateLoading {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
.ct-chart .ct-label,.ct-chart .ct-label.ct-horizontal{display:block;width:100%;height:100%;fill:rgba(0,0,0,.4);font-size:.75rem;text-align:left}
.ct-chart .ct-label.ct-vertical{display:block;width:100%;height:100%;fill:rgba(0,0,0,.4);text-align:right}
.ct-chart .ct-grid{stroke:rgba(0,0,0,.2);stroke-width:1px;stroke-dasharray:2px}
.ct-chart .ct-point{stroke-width:10px;stroke-linecap:round}
.ct-chart .ct-line{fill:none;stroke-width:4px}
.ct-chart .ct-area{stroke:none;fill-opacity:.1}
.ct-chart .ct-bar{fill:none;stroke-width:10px}
.ct-chart .ct-slice.ct-donut{fill:none;stroke-width:60px}
.ct-chart .ct-series.ct-series-a .ct-bar,.ct-chart .ct-series.ct-series-a .ct-line,.ct-chart .ct-series.ct-series-a .ct-point,.ct-chart .ct-series.ct-series-a .ct-slice.ct-donut
{stroke:#d70206}
.ct-chart .ct-series.ct-series-a .ct-area,.ct-chart .ct-series.ct-series-a .ct-slice:not(.ct-donut)
{fill:#d70206}
.ct-chart .ct-series.ct-series-b .ct-bar,.ct-chart .ct-series.ct-series-b .ct-line,.ct-chart .ct-series.ct-series-b .ct-point,.ct-chart .ct-series.ct-series-b .ct-slice.ct-donut{stroke:#F05B4F}.ct-chart .ct-series.ct-series-b .ct-area,.ct-chart .ct-series.ct-series-b .ct-slice:not(.ct-donut){fill:#F05B4F}
.ct-chart .ct-series.ct-series-c .ct-bar,.ct-chart .ct-series.ct-series-c .ct-line,.ct-chart .ct-series.ct-series-c .ct-point,.ct-chart .ct-series.ct-series-c .ct-slice.ct-donut{stroke:#F4C63D}
.ct-chart .ct-series.ct-series-c .ct-area,.ct-chart .ct-series.ct-series-c .ct-slice:not(.ct-donut){fill:#F4C63D}.ct-chart .ct-series.ct-series-d .ct-bar,.ct-chart .ct-series.ct-series-d .ct-line,.ct-chart .ct-series.ct-series-d .ct-point,.ct-chart .ct-series.ct-series-d .ct-slice.ct-donut{stroke:#453D3F}
.ct-chart .ct-series.ct-series-d .ct-area,.ct-chart .ct-series.ct-series-d .ct-slice:not(.ct-donut)
{fill:#453D3F}
.ct-chart.ct-square{display:block;position:relative;width:100%}
.ct-chart.ct-square:before{display:block;float:left;content:"";width:0;height:0;padding-bottom:100%}
.ct-chart.ct-square:after{content:"";display:table;clear:both}
.ct-chart.ct-square>svg{display:block;position:absolute;top:0;left:0}
.ct-chart.ct-minor-second{display:block;position:relative;width:100%}
.ct-chart.ct-minor-second:before{display:block;float:left;content:"";width:0;height:0;padding-bottom:93.75%}
.ct-chart.ct-minor-second:after{content:"";display:table;clear:both}
.ct-chart.ct-minor-second>svg{display:block;position:absolute;top:0;left:0}
.ct-chart.ct-major-second{display:block;position:relative;width:100%}
.ct-chart.ct-major-second:before{display:block;float:left;content:"";width:0;height:0;padding-bottom:88.8888888889%}
.ct-chart.ct-major-second:after{content:"";display:table;clear:both}
.ct-chart.ct-major-second>svg{display:block;position:absolute;top:0;left:0}
.ct-chart.ct-minor-third{display:block;position:relative;width:100%}
.ct-chart.ct-minor-third:before{display:block;float:left;content:"";width:0;height:0;padding-bottom:83.3333333333%}
.ct-chart.ct-minor-third:after{content:"";display:table;clear:both}
.ct-chart.ct-minor-third>svg{display:block;position:absolute;top:0;left:0}
.ct-chart.ct-major-third{display:block;position:relative;width:100%}
.ct-chart.ct-major-third:before{display:block;float:left;content:"";width:0;height:0;padding-bottom:80%}
.ct-chart.ct-major-third:after{content:"";display:table;clear:both}
.ct-chart.ct-major-third>svg{display:block;position:absolute;top:0;left:0}
.ct-chart.ct-perfect-fourth{display:block;position:relative;width:100%}
.ct-chart.ct-perfect-fourth:before{display:block;float:left;content:"";width:0;height:0;padding-bottom:75%}
.ct-chart.ct-perfect-fourth:after{content:"";display:table;clear:both}
.ct-chart.ct-perfect-fourth>svg{display:block;position:absolute;top:0;left:0}
.ct-chart.ct-perfect-fifth{display:block;position:relative;width:100%}
.ct-chart.ct-perfect-fifth:before{display:block;float:left;content:"";width:0;height:0;padding-bottom:66.6666666667%}
.ct-chart.ct-perfect-fifth:after{content:"";display:table;clear:both}
.ct-chart.ct-perfect-fifth>svg{display:block;position:absolute;top:0;left:0}
.ct-chart.ct-minor-sixth{display:block;position:relative;width:100%}
.ct-chart.ct-minor-sixth:before{display:block;float:left;content:"";width:0;height:0;padding-bottom:62.5%}
.ct-chart.ct-minor-sixth:after{content:"";display:table;clear:both}
.ct-chart.ct-minor-sixth>svg{display:block;position:absolute;top:0;left:0}
.ct-chart.ct-golden-section{display:block;position:relative;width:100%}
.ct-chart.ct-golden-section:before{display:block;float:left;content:"";width:0;height:0;padding-bottom:61.804697157%}
.ct-chart.ct-golden-section:after{content:"";display:table;clear:both}
.ct-chart.ct-golden-section>svg{display:block;position:absolute;top:0;left:0}
.ct-chart.ct-major-sixth{display:block;position:relative;width:100%}
.ct-chart.ct-major-sixth:before{display:block;float:left;content:"";width:0;height:0;padding-bottom:60%}
.ct-chart.ct-major-sixth:after{content:"";display:table;clear:both}
.ct-chart.ct-major-sixth>svg{display:block;position:absolute;top:0;left:0}
.ct-chart.ct-minor-seventh{display:block;position:relative;width:100%}
.ct-chart.ct-minor-seventh:before{display:block;float:left;content:"";width:0;height:0;padding-bottom:56.25%}
.ct-chart.ct-minor-seventh:after{content:"";display:table;clear:both}
.ct-chart.ct-minor-seventh>svg{display:block;position:absolute;top:0;left:0}
.ct-chart.ct-major-seventh{display:block;position:relative;width:100%}
.ct-chart.ct-major-seventh:before{display:block;float:left;content:"";width:0;height:0;padding-bottom:53.3333333333%}
.ct-chart.ct-major-seventh:after{content:"";display:table;clear:both}
.ct-chart.ct-major-seventh>svg{display:block;position:absolute;top:0;left:0}
.ct-chart.ct-octave{display:block;position:relative;width:100%}
.ct-chart.ct-octave:before{display:block;float:left;content:"";width:0;height:0;padding-bottom:50%}
.ct-chart.ct-octave:after{content:"";display:table;clear:both}
.ct-chart.ct-octave>svg{display:block;position:absolute;top:0;left:0}
.ct-chart.ct-major-tenth{display:block;position:relative;width:100%}
.ct-chart.ct-major-tenth:before{display:block;float:left;content:"";width:0;height:0;padding-bottom:40%}
.ct-chart.ct-major-tenth:after{content:"";display:table;clear:both}
.ct-chart.ct-major-tenth>svg{display:block;position:absolute;top:0;left:0}
.ct-chart.ct-major-eleventh{display:block;position:relative;width:100%}
.ct-chart.ct-major-eleventh:before{display:block;float:left;content:"";width:0;height:0;padding-bottom:37.5%}
.ct-chart.ct-major-eleventh:after{content:"";display:table;clear:both}
.ct-chart.ct-major-eleventh>svg{display:block;position:absolute;top:0;left:0}
.ct-chart.ct-major-twelfth{display:block;position:relative;width:100%}
.ct-chart.ct-major-twelfth:before{display:block;float:left;content:"";width:0;height:0;padding-bottom:33.3333333333%}
.ct-chart.ct-major-twelfth:after{content:"";display:table;clear:both}
.ct-chart.ct-major-twelfth>svg{display:block;position:absolute;top:0;left:0}
.ct-chart.ct-double-octave{display:block;position:relative;width:100%}
.ct-chart.ct-double-octave:before{display:block;float:left;content:"";width:0;height:0;padding-bottom:25%}
.ct-chart.ct-double-octave:after{content:"";display:table;clear:both}
.ct-chart.ct-double-octave>svg{display:block;position:absolute;top:0;left:0}
.ct-legend {
        position: relative;
         z-index: 10;
         list-style: none;
         text-align: center;

    li {
      position: relative;
         padding-left: 23px;
         margin-right: 10px;
         margin-bottom: 3px;
         cursor: pointer;
         display: inline-block;
    }

    li:before {
        width: 12px;
        height: 12px;
        position: absolute;
        left: 0;
        content: '';
        border: 3px solid transparent;
        border-radius: 2px;
    }

    li.inactive:before {
        background: transparent;
    }

    &.ct-legend-inside {
        position: absolute;
        top: 0;
        right: 0;
    }

    $ct-series-colors: (
      #d70206,
      #f05b4f,
      #f4c63d,
      #d17905,
      #453d3f,
      #59922b,
      #0544d3,
      #6b0392,
      #f05b4f,
      #dda458,
      #eacf7d,
      #86797d,
      #b2c326,
      #6188e2,
      #a748ca
    ) !default;

    @for $i from 0 to length($ct-series-colors) {
        .ct-series-#{$i}:before {
            background-color: nth($ct-series-colors, $i + 1);
            border-color: nth($ct-series-colors, $i + 1);
        }
    }
}
